.kutu{
    width: 200px;
    background-color: burlywood;
    /*1.Stil*/
    padding: 20px;/*İç Boşluk:Kutu ile metin arasında boşluk bırakır.*/
    /*2.Stil*/
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*3.Stil*/
    padding: 10px 20px 30px 40px;/*Saat yönünde boşluk bırakalarak ilerler.*/
    /*4.Stil*/
    padding: 20px 50px;/*Yukarıdan aşağıya ve sağdan sola boşluk bırakır.*/
    /*1.Stil*/
    margin: 20px; /*margin:Kutu dışında ki boşlukları ayarlar.*/
    /*2.Stil*/
    margin-top: 10px;/*yukarı*/
    margin-right: 20px;/*sağ*/
    margin-bottom: 30px;/*aşağı*/
    margin-left: 40px;/*sol*/
    /*3.Stil*/
    margin: 40px 30px 20px 10px;/*Saat yönünde boşluk bırakalarak ilerler.*/
    /*4.Stil*/
    margin: 10px 50px;/*Yukarıdan aşağıya ve sağdan sola boşluk bırakır.*/
    
} 

.kutu2{
    width: 200px;
    background-color: indianred;
    color: white;
    
} 